# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development

# Email Configuration
# You must use an App Password if using Gmail (not your real password)
# Tutorial: https://support.google.com/accounts/answer/185833
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=djmanikanta2@gmail.com
EMAIL_PASSWORD=your_google_app_password_here
EMAIL_RECEIVER=djmanikanta2@gmail.com
