<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Event System</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>

body{
background:linear-gradient(120deg,#84fab0,#8fd3f4);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

</style>

</head>

<body>

<div class="card p-5 text-center shadow">

<h2>🎉 Online Event Registration</h2>

<p class="mt-3">Register for upcoming events easily.</p>

<a href="/register" class="btn btn-primary mt-3">Register Now</a>

</div>

</body>
</html>